.my_newlink_flex {
  display: flex;
  flex-direction: column;
}
.span_title {
  text-align: center;
  color: #a4aeb7;
  font-size: 12px;
}
.flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}
